absl-py==2.3.0
Brotli
certifi
charset-normalizer
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
einops==0.8.1
filelock
fonttools==4.58.1
fsspec==2025.5.1
gmpy2
grpcio==1.71.0
idna
imageio==2.37.0
Jinja2
joblib==1.5.1
kiwisolver==1.4.8
kornia==0.8.1
kornia_rs==0.1.9
Markdown==3.8
MarkupSafe
matplotlib==3.10.3
mkl-service==2.4.0
mkl_fft
mkl_random
mpmath
networkx
numpy==2.0.1
opencv-python==4.11.0.86
packaging==25.0
pillow
protobuf==6.31.1
pyparsing==3.2.3
PySocks
python-dateutil==2.9.0.post0
PyYAML
requests
scikit-learn==1.6.1
scipy==1.15.3
six==1.17.0
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
typing_extensions
urllib3
Werkzeug==3.1.3
win-inet-pton
